<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- callauto: winca/ica -->
    <!--    <listener>
        <listener-class>
            vn.ra.synch.neac.SynchNEACListener
        </listener-class>
    </listener>-->
<!--    <listener>
        <listener-class>
            vn.ra.synch.neac.AutoRevokeListener
        </listener-class>
    </listener>-->
    <!--    <filter>
        <filter-name>RestCorsFilter</filter-name>
        <filter-class>vn.ra.restful.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestCorsFilter</filter-name>
        <url-pattern>/restapi/*</url-pattern>
    </filter-mapping>-->
    <!--    <filter>
        <filter-name>RestCorsFilter</filter-name>
        <filter-class>vn.ra.uat.XSSFilter</filter-class>
    </filter>-->
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>XSS</filter-name>
        <filter-class>vn.ra.configuration.XSSFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>XSS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginCommon</servlet-name>
        <servlet-class>vn.ra.servlet.LoginCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCommon</servlet-name>
        <servlet-class>vn.ra.servlet.LogoutCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyCommon</servlet-name>
        <servlet-class>vn.ra.servlet.PolicyCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SomeCommon</servlet-name>
        <servlet-class>vn.ra.servlet.SomeCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONCommon</servlet-name>
        <servlet-class>vn.ra.servlet.JSONCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UAT_LoadListAjax</servlet-name>
        <servlet-class>vn.ra.uat.UAT_LoadListAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCommon</servlet-name>
        <servlet-class>vn.ra.servlet.UserCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleCommon</servlet-name>
        <servlet-class>vn.ra.servlet.RoleCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuLinkCommon</servlet-name>
        <servlet-class>vn.ra.servlet.MenuLinkCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchCommon</servlet-name>
        <servlet-class>vn.ra.servlet.BranchCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityCommon</servlet-name>
        <servlet-class>vn.ra.servlet.CityCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DowloadFile</servlet-name>
        <servlet-class>vn.ra.servlet.DowloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>vn.ra.servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseCodeCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ResponseCodeCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionalityCommon</servlet-name>
        <servlet-class>vn.ra.servlet.FunctionalityCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CACommon</servlet-name>
        <servlet-class>vn.ra.servlet.CACommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateParse</servlet-name>
        <servlet-class>vn.ra.servlet.CertificateParse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertProfileCommon</servlet-name>
        <servlet-class>vn.ra.servlet.CertProfileCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileCRL</servlet-name>
        <servlet-class>vn.ra.servlet.UploadFileCRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileCSR</servlet-name>
        <servlet-class>vn.ra.servlet.DownloadFileCSR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownFromSaveFile</servlet-name>
        <servlet-class>vn.ra.servlet.DownFromSaveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplateDNCommon</servlet-name>
        <servlet-class>vn.ra.servlet.TemplateDNCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenCommon</servlet-name>
        <servlet-class>vn.ra.servlet.TokenCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCommon</servlet-name>
        <servlet-class>vn.ra.servlet.RequestCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenImport</servlet-name>
        <servlet-class>vn.ra.servlet.TokenImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFileBase64</servlet-name>
        <servlet-class>vn.ra.servlet.ReadFileBase64</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintFormCommon</servlet-name>
        <servlet-class>vn.ra.servlet.PrintFormCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportCSVParam</servlet-name>
        <servlet-class>vn.ra.servlet.ExportCSVParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCommon</servlet-name>
        <servlet-class>vn.ra.servlet.PaymentCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetCertificateInfo</servlet-name>
        <servlet-class>vn.ra.servlet.GetCertificateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileManageUpload</servlet-name>
        <servlet-class>vn.ra.servlet.FileManageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileManageCommon</servlet-name>
        <servlet-class>vn.ra.servlet.FileManageCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestUploadFile</servlet-name>
        <servlet-class>vn.ra.uat.TestUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UatReferJRB</servlet-name>
        <servlet-class>vn.ra.uat.UatReferJRB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileManageUploadEdit</servlet-name>
        <servlet-class>vn.ra.servlet.FileManageUploadEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraceSystemCommon</servlet-name>
        <servlet-class>vn.ra.servlet.TraceSystemCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFileSomeCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ReadFileSomeCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushNoticeImport</servlet-name>
        <servlet-class>vn.ra.servlet.PushNoticeImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisallowanceListImport</servlet-name>
        <servlet-class>vn.ra.servlet.DisallowanceListImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCertificateImport</servlet-name>
        <servlet-class>vn.ra.servlet.RegisterCertificateImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateTypeCommon</servlet-name>
        <servlet-class>vn.ra.servlet.CertificateTypeCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerCommon</servlet-name>
        <servlet-class>vn.ra.servlet.OwnerCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoseCommon</servlet-name>
        <servlet-class>vn.ra.servlet.RoseCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqApproveDeclineCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ReqApproveDeclineCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollationCertCommon</servlet-name>
        <servlet-class>vn.ra.servlet.CollationCertCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileManageProfileUpload</servlet-name>
        <servlet-class>vn.ra.servlet.FileManageProfileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ProfileCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateShareCommon</servlet-name>
        <servlet-class>vn.ra.servlet.CertificateShareCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAccessCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ProfileAccessCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenActionImport</servlet-name>
        <servlet-class>vn.ra.servlet.TokenActionImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectProfileImport</servlet-name>
        <servlet-class>vn.ra.servlet.CollectProfileImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactProfileImport</servlet-name>
        <servlet-class>vn.ra.servlet.ContactProfileImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqApproveGridCommon</servlet-name>
        <servlet-class>vn.ra.servlet.ReqApproveGridCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportCSVPhaseTwo</servlet-name>
        <servlet-class>vn.ra.servlet.ExportCSVPhaseTwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RAWebservice</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCommon</servlet-name>
        <url-pattern>/LoginCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCommon</servlet-name>
        <url-pattern>/LogoutCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyCommon</servlet-name>
        <url-pattern>/PolicyCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SomeCommon</servlet-name>
        <url-pattern>/SomeCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONCommon</servlet-name>
        <url-pattern>/JSONCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UAT_LoadListAjax</servlet-name>
        <url-pattern>/UAT_LoadListAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCommon</servlet-name>
        <url-pattern>/UserCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleCommon</servlet-name>
        <url-pattern>/RoleCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuLinkCommon</servlet-name>
        <url-pattern>/MenuLinkCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchCommon</servlet-name>
        <url-pattern>/BranchCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityCommon</servlet-name>
        <url-pattern>/CityCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DowloadFile</servlet-name>
        <url-pattern>/DowloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseCodeCommon</servlet-name>
        <url-pattern>/ResponseCodeCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionalityCommon</servlet-name>
        <url-pattern>/FunctionalityCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CACommon</servlet-name>
        <url-pattern>/CACommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateParse</servlet-name>
        <url-pattern>/CertificateParse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertProfileCommon</servlet-name>
        <url-pattern>/CertProfileCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileCRL</servlet-name>
        <url-pattern>/UploadFileCRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileCSR</servlet-name>
        <url-pattern>/DownloadFileCSR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownFromSaveFile</servlet-name>
        <url-pattern>/DownFromSaveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateDNCommon</servlet-name>
        <url-pattern>/TemplateDNCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenCommon</servlet-name>
        <url-pattern>/TokenCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCommon</servlet-name>
        <url-pattern>/RequestCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenImport</servlet-name>
        <url-pattern>/TokenImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFileBase64</servlet-name>
        <url-pattern>/ReadFileBase64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintFormCommon</servlet-name>
        <url-pattern>/PrintFormCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportCSVParam</servlet-name>
        <url-pattern>/ExportCSVParam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCommon</servlet-name>
        <url-pattern>/PaymentCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCertificateInfo</servlet-name>
        <url-pattern>/GetCertificateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileManageUpload</servlet-name>
        <url-pattern>/FileManageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileManageCommon</servlet-name>
        <url-pattern>/FileManageCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestUploadFile</servlet-name>
        <url-pattern>/TestUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UatReferJRB</servlet-name>
        <url-pattern>/UatReferJRB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileManageUploadEdit</servlet-name>
        <url-pattern>/FileManageUploadEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraceSystemCommon</servlet-name>
        <url-pattern>/TraceSystemCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFileSomeCommon</servlet-name>
        <url-pattern>/ReadFileSomeCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushNoticeImport</servlet-name>
        <url-pattern>/PushNoticeImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisallowanceListImport</servlet-name>
        <url-pattern>/DisallowanceListImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCertificateImport</servlet-name>
        <url-pattern>/RegisterCertificateImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateTypeCommon</servlet-name>
        <url-pattern>/CertificateTypeCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerCommon</servlet-name>
        <url-pattern>/OwnerCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoseCommon</servlet-name>
        <url-pattern>/RoseCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqApproveDeclineCommon</servlet-name>
        <url-pattern>/ReqApproveDeclineCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollationCertCommon</servlet-name>
        <url-pattern>/CollationCertCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileManageProfileUpload</servlet-name>
        <url-pattern>/FileManageProfileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileCommon</servlet-name>
        <url-pattern>/ProfileCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateShareCommon</servlet-name>
        <url-pattern>/CertificateShareCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAccessCommon</servlet-name>
        <url-pattern>/ProfileAccessCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenActionImport</servlet-name>
        <url-pattern>/TokenActionImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectProfileImport</servlet-name>
        <url-pattern>/CollectProfileImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactProfileImport</servlet-name>
        <url-pattern>/ContactProfileImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqApproveGridCommon</servlet-name>
        <url-pattern>/ReqApproveGridCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportCSVPhaseTwo</servlet-name>
        <url-pattern>/ExportCSVPhaseTwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RAWebservice</servlet-name>
        <url-pattern>/RAWebservice</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <!-- Begin Error -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <!-- https thi config, else cancel -->
    <!--    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>-->
    <!-- End Error -->
    <!-- cmc/tpcloud/misa/viettel/mobile-id not set redrect https -->
    <!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RegistrationAuthority</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    <!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RAFrontEnd</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    <!--    <security-constraint>
        <display-name>LOGIN-CERTIFICATE</display-name>
        <web-resource-collection>
            <web-resource-name>LOGIN</web-resource-name>
            <description/>
            <url-pattern>/GetCertSSL/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>EFY TMS SSL LOGIN</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>*</role-name>
    </security-role>
    <servlet>
        <servlet-name>GetCertServlet</servlet-name>
        <servlet-class>vn.ra.servlet.GetCertSSLCommon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCertServlet</servlet-name>
        <url-pattern>/GetCertSSL/*</url-pattern>
    </servlet-mapping>-->
    <!--    <init-param>
        <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
        <param-value>com.yourpackage.CORSFilter</param-value>
    </init-param>-->
</web-app>
